<h3>Player 1</h3>
<img id="deck1" src="http://orig14.deviantart.net/6021/f/2012/302/5/c/mlp__cwf_card_back_by_noonebahtim-d5je44f.png" width="220">
<div class="player1hand">
 <div class="flip1">
  <div class="triple-down">
   <div class="war">
   </div>
  </div> 
 </div> 
</div> 