<h3>Player 2</h3>

<img id="deck2" src="http://orig14.deviantart.net/6021/f/2012/302/5/c/mlp__cwf_card_back_by_noonebahtim-d5je44f.png" width="220">
<div class="player2hand">
 <div class="flip2">
  <div class="triple-down">
   <div class="war">
   </div>
  </div> 
 </div> 
</div> 